<GridLayout rows="60, *" tkMainContent iosOverflowSafeArea="false">
    <GridLayout row="0" rowSpan="2" [visibility]="!requestFinished ? 'visible' : 'collapsed'">
        <ActivityIndicator busy="true" width="100" height="100" class="activity-indicator"></ActivityIndicator>
    </GridLayout>
    <GridLayout *ngIf="requestFinished" row="0" rowSpan="2" rows="auto" class="main-view">
        <Label text="Temperatur:" row="0" class="footnote temperature-title"></Label>
        <Label [text]="weather.temperature" row="0" class="temperature-value"></Label>
        <Label text="Windgeschwindigkeit:" row="0" class="footnote wind-title"></Label>
        <Label [text]="weather.windSpeed" row="0" class="wind-value"></Label>
        <Label text="Windrichtung:" row="0" class="footnote direction-title"></Label>
        <Label [text]="weather.windDirection" row="0" class="direction-value"></Label>
        <Label [text]="'(Quelle: ' + weather.provider + ')'" row="0" class="footnote source"></Label>
    </GridLayout>
    <GridLayout row="0" rows="auto, auto" columns="60, *" class="actionbar">
        <Label text="Wetter" row="0" col="0" colSpan="3" rowSpan="2" class="nav-header-title"></Label>
        <Label text="&#xf0c9;" class="fa nav-icon" row="0" col="0" (tap)="openDrawer()"></Label>
        <Label text="Menü" row="1" col="0" class="nav-icon-header" (tap)="openDrawer()"></Label>
    </GridLayout>  
</GridLayout>

