.slide-in {
    animation-duration: 0.5;
    animation-fill-mode: forwards;
	animation-timing-function: ease;  
    animation-name: slide-in;
    background-color: #ffffff;
}

@keyframes slide-in {
    0% { transform: translate(0, 40) }
    100% { transform: translate(0, -750)}
}

.slide-out {
    animation-duration: 0.5;
    animation-fill-mode: forwards;
	animation-timing-function: ease;  
    animation-name: slide-out;
    background-color: #ffffff;
}

@keyframes slide-out {
    0% { transform: translate(0, -750) }
    100% { transform: translate(0, 40)}
}

.search-icon-bg {
    font-size: 30; 
    color: #00aaa0; 
    horizontal-align: center;
    vertical-align: center;
    opacity: 0.4; 
}

.search-icon {
    font-size: 19; 
    color: #ffffff; 
    horizontal-align: center; 
    vertical-align: center;
}

.checkmark-icon-bg {
    font-size: 19; 
    color: #00aaa0; 
    vertical-align: center;
    opacity: 0.4; 
    margin: 0 5 0 0
}

.checkmark-icon {
    font-size: 14; 
    color: #ffffff; 
    vertical-align: center;
    margin: 0 5 0 0
}

.expand-icon {
    color: #000000;
    horizontal-align: center;
    vertical-align: center;
    padding: 0 5 0 5;
    font-size: 7;
}

.list-container {
    font-size: 17;
    font-weight: 400;
    padding: 0 10 0 10;
}

.nav-icon-right {
    color: #000000;
    font-size: 25;
    text-align: center;
    padding-right: 20;
    padding-top: 5;
}

.nav-icon-header-right {
    font-size: 10;
    text-align: center;
    padding-right: 20;
    margin-bottom: 10;
    color: #000000;
}