<GridLayout rows="auto, auto, auto, auto, auto, auto, auto" columns="*, 50" class="container-content" (tap)="userInteraction()">
    <Label row="0" col="0"
        text="Entscheide, ob du über folgende Ereignisse informiert werden möchtest"
        class="footnote m-b-30" textWrap="true"></Label>

    <Label row="1" col="0" text="Bevorstehende Veranstaltungen:" class="title-label"></Label>
    <Label row="2" col="0" text="Aus" class="footnote notify"></Label>
    <Switch row="2" col="1" class="notify" checked="false"></Switch>

    <Label row="3" col="0" text="Änderungen im Veranstaltungsplan:" class="title-label"></Label>
    <Label row="4" col="0" text="Aus" class="footnote notify"></Label>
    <Switch row="4" col="1" class="notify" checked="false"></Switch>

    <Label row="5" col="0" text="Aktuelle Themen an der EAH:" class="title-label"></Label>
    <Label row="6" col="0" text="Aus" class="footnote notify"></Label>
    <Switch row="6" col="1" class="notify" checked="false"></Switch>
</GridLayout>