<RadSideDrawer [drawerTransition]="sideDrawerTransition" [drawerLocation]="drawerLocation" gesturesEnabled="true" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="side-drawer-layout">
        <left-drawer *ngIf="drawerLocation == 'Left'"></left-drawer>
    </StackLayout>
    <GridLayout rows="60, *" tkMainContent>  
        <GridLayout row="0" rowSpan="2" *ngIf="_coursesAllweeks[0]" (swipe)="onSwipe($event)">
                <RadListView #myListView [items]="weekItems" [height]=screenHeight [filteringFunction]="myFilteringFunc" [class.slide-out-left]="swipeLeft" [class.slide-out-right]="swipeRight" swipeActions="false">
                    <ng-template tkListItemTemplate let-item="item" let-idx="index">
                        <GridLayout rows="auto, auto, auto, auto, auto" class="text-center" [height]="item.events.length * 45 + 110" (swipe)="onSwipe($event)">
                            <Label row="1" text="&#xf111;" class="fa" style="font-size: 25; color: #00aaa0; vertical-align: center; opacity: 0.4;"></Label>
                            <Label row="1" text="&#xf254;" class="fa" style="font-size: 16; color: #ffffff; vertical-align: center"></Label>
                            <Label row="2" [text]="item.events[0]?.dayOfWeek" class="event-component-header"></Label>
                            <Label row="3" [text]="item.events[0]?.date" class="footnote"></Label>
                            <CardView row="4" [class.event-component-isIos]="isIos" [class.event-component-isAndroid]="isAndroid" [height]="item.events.length * 45">
                                <GridLayout
                                    rows="auto" columns="*, 80" 
                                    class="list-courses" verticalAlignment="top">
                                    <ng-template ngFor let-option [ngForOf]="item.events" let-i="index" let-last="last">
                                        <Label [text]="option.lecturer"  verticalAlignment="top"
                                            [row]="i" col="0" [marginTop]="i * 45 + 5"
                                            class="footnote" style="font-size: 11" textWrap="true" ripple rippleColor="#00aaa0" (tap)="showLessonsDialog(idx, i, option)"></Label>
                                        <Label [text]="option.startTime + ' - ' + option.endTime"  verticalAlignment="top"
                                            [row]="i" col="1" [marginTop]="i * 45 + 5"
                                            class="footnote text-right" style="font-size: 11" ripple rippleColor="#00aaa0" (tap)="showLessonsDialog(idx, i, option)"></Label>
                                        <Label *ngIf="option.shortTitle; else longTitle" [text]="option.shortTitle"  verticalAlignment="top"
                                            [row]="i" col="0" [marginTop]="i * 45 + 20" textWrap="true" ripple rippleColor="#00aaa0" (tap)="showLessonsDialog(idx, i, option)"></Label>
                                            <ng-template #longTitle>
                                                <Label [text]="option.title" verticalAlignment="top"
                                                    [row]="i" col="0" [marginTop]="i * 45 + 20" textWrap="true" ripple rippleColor="#00aaa0" (tap)="showLessonsDialog(idx, i, option)"></Label>  
                                            </ng-template>
                                        <Label [text]="option.room"  verticalAlignment="top"
                                            [row]="i" col="1" textWrap="true" [marginTop]="i * 45 + 24"
                                            class="footnote text-right" style="font-size: 11" ripple rippleColor="#00aaa0" (tap)="showLessonsDialog(idx, i, option)"></Label>
                                        <Label [row]="i" col="0" *ngIf="!last" colSpan="2" class="hr-light" [marginTop]="i * 45 + 45"  verticalAlignment="top"></Label>
                                    </ng-template>
                                </GridLayout>
                            </CardView>   
                        </GridLayout>
                    </ng-template>
                </RadListView> 
        </GridLayout>

        <GridLayout row="0" rows="auto, auto" columns="60, *, 60" class="actionbar">
            <Label text="Stundenplan" row="0" col="0" colSpan="3" rowSpan="2" class="nav-header-title"></Label>
            <Label text="&#xf0c9;" class="fa nav-icon" row="0" col="0" (tap)="openDrawer('Left')"></Label>
            <Label text="Menü" row="1" col="0" class="nav-icon-header" (tap)="openDrawer('Left')"></Label>
            <Label text="&#xf067;" class="fa nav-icon-right" row="0" col="2" (tap)="openPlannerEdit()"></Label>
            <Label text="Hinzu." row="1" col="2" class="nav-icon-header-right" (tap)="openPlannerEdit()"></Label>
        </GridLayout>
        <ScrollView #tabbarScroll row="1" orientation="horizontal" [ngClass]="tabbarHidden ? 'tabbar-slide-in' : 'tabbar-slide-out'">
            <StackLayout orientation="horizontal" class="tabbar">
                <StackLayout    #tabbarStack
                                *ngFor="let item of _coursesAllweeks; let i = index" 
                                class="tabbar-cell" 
                                [ngClass]="{'tabbar-selectedcell': tabbarSelected === i}"
                                (tap)="tabbarTapped(i)">
                    <Label  #tabbarLabel
                            [text]="item.weekInYear + '. KW'" 
                            textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</RadSideDrawer>