

/* ------ Here starts the custom actionbar ------ */

.actionbar {
    opacity: 0.9;
    background-color: white;
    height: 60;
    padding-top: 5;
}

.nav-icon {
    color: #000000;
    font-size: 25;
    text-align: center;
    margin-left: 20;
    margin-top: 5;
}

.nav-icon-header {
    font-size: 10;
    text-align: center;
    margin-left: 20;
    margin-bottom: 10;
    color: #000000;
}

.nav-icon-right {
    color: #000000;
    text-align: center;
    padding-right: 20;
    padding-top: 5;
}

.nav-icon-header-right {
    font-size: 10;
    text-align: center;
    padding-right: 20;
    margin-bottom: 10;
    color: #000000;
}

.nav-header-title {
    font-size: 20;
    text-align: center;
    font-weight: 300;
    color: #000000;
    vertical-align: center;
}

.nav-icon-right {
    color: #000000;
    font-size: 25;
    text-align: center;
    padding-right: 20;
    padding-top: 5;
}

.nav-icon-header-right {
    font-size: 10;
    text-align: center;
    padding-right: 20;
    margin-bottom: 10;
    color: #000000;
}

/* ------ Here ends the custom actionbar ------ */