.nav-header-title {
    height: 50;
}

.event-component-isIos {
    background-color: rgb(245, 245, 245);
    radius: 15;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 40;
    margin-top: 10;
    elevation: 30;
    color: #000000;
}

.event-component-isAndroid {
    background-color: rgb(245, 245, 245);
    radius: 25;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 40;
    margin-top: 10;
    elevation: 30;
    color: #000000;
}

.inner-event-component {
    color: #000000;
}

.event-component-header {
    font-size: 20;
    text-align: center;
    font-weight: 300;
    color: #000000;
    vertical-align: center;
}

.last {
    margin-bottom: 35;
}

.list-courses {
    font-size: 15;
    padding-left: 10;
    padding-right: 10;
}

.list-group {
    background-color:  rgb(245, 245, 245);
}


.divider {
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
}